/* Estilos Generales del contenido */
body {
    font-family: 'Arial', sans-serif;
    color: #2C3E50;
    background-color: #F4F9FD; /* Azul claro de fondo */
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Título principal dentro del bloque de contenido */
.center-title {
    color: #2A6DA2; /* Azul oscuro */
    font-size: 2.2rem;
    font-weight: 600;
    margin-top: 2rem;
    text-align: center;
}

/* Subtítulo dentro del bloque de contenido */
h2 {
    /*text-align: left;*/
    font-size: 1.8rem;
    color: #3B88C3; /* Azul intermedio */
    margin-top: 1.5rem;
    font-weight: 500;
}

/* Lista de Entrevistadores */
ul.entrevistadores-list {
    list-style: none;
    padding: 0;
    max-width: 600px;
    margin: 2rem auto;
}

ul.entrevistadores-list li {
    background-color: #FFFFFF;
    border: 1px solid #DCE6F1; /* Borde gris claro */
    padding: 1.2rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    transition: box-shadow 0.3s ease;
}

ul.entrevistadores-list li:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

ul.entrevistadores-list li h3 {
    font-size: 1.3rem;
    color: #2C3E50; /* Gris oscuro */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

ul.entrevistadores-list li a {
    text-decoration: none;
    font-size: 1rem;
    color: #3498DB; /* Azul vivo */
    font-weight: 500;
    transition: color 0.2s ease;
}

ul.entrevistadores-list li a:hover {
    color: #1F639E; /* Azul más oscuro */
}

/* Mensaje de acceso para usuarios no autenticados */
h4.login-message {
    text-align: center;
    color: #5A5A5A;
    font-size: 1.2rem;
    margin-top: 1.5rem;
}

/* Ajuste de links */
a {
    text-decoration: none;
    color: #3498DB;
}

a:hover {
    color: #1A5276;
}