/* General Styles */
/* Estilo general de la página */
body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f0f4f8;
    margin: 0;
    padding: 0;
}

/* Titulares y párrafos */
h1 {
    color: #1f4e79;
    font-size: 2.5em;
    font-weight: 600;
    margin: 20px 0;
}

p {
    font-size: 1.1em;
    color: #555;
    margin: 10px 0;
}

/* Botones generales */
button, .btn-primary {
    background-color: #1f4e79;
    border-color: #1f4e79;
    color: #fff;
    font-weight: 600;
    padding: 8px 15px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover, .btn-primary:hover {
    background-color: #143352;
}

/* Encabezado */
header {
    background-color: #1f4e79;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Imágenes */
img {
    border-radius: 8px;
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.05);
}

/* Footer */
footer {
    background-color: #286090;
    color: #d9edf7;
    padding: 15px 0;
    text-align: center;
    font-size: 0.9em;
}

/* Asegurarse de que no colisione con el navbar */
.navbar-home {
    background-color: #286090;
}

.navbar-home a {
    color: #fff !important;
}

.navbar-home a:hover {
    color: #d9edf7 !important;
}

