{% extends "base.html" %}
{# {% load staticfiles %} #}
{% load static %}

{% block head %}
<title>Networking</title>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/cssVerExperiencias.css' %}">   
{% endblock %}

 {% block content %}

 <br><br><br><br>
  <center>
    <h1>Crear Habilidad</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="habilidad">Nombre habilidad:</label>
        <input type="text" name="habilidad" id="habilidad" required><br>

        <label for="nivel">Nivel:</label>
        <input type="text" name="nivel" id="nivel" required><br>

        <label for="comentario">Comentario:</label>
        <input type="text" name="comentario" id="comentario" required><br>

        <button type="submit">Crear</button>
    </form>

  </center>
     
{% endblock content %}