{% extends "base.html" %}
{% load static %}
{% block head %}
<title>PORTFOLIO</title>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/cssTarea.css' %}">
{% endblock %}

{% block content %}
    <h1>Crear Proyecto</h1>
    <form method="post">
        {% csrf_token %}
        <label for="titulo">Título:</label><br>
        <input type="text" id="titulo" name="titulo" required><br><br>

        <label for="lenguaje">Lenguaje Principal:</label><br>
        <input type="text" id="lenguaje" name="lenguaje" required><br><br>

        <label for="tecnologias">Tecnologías:</label><br>
        <input type="text" id="tecnologias" name="tecnologias" required><br><br>

        <label for="observaciones">Observaciones:</label><br>
        <input type="text" id="observaciones" name="observaciones"><br><br>

        <label for="fecha_publicacion">Fecha de Publicación:</label><br>
        <input type="datetime-local" id="fecha_publicacion" name="fecha_publicacion"><br><br>

        <button type="submit" class="btn btn-primary">Crear</button>
    </form>
    <br>
    <a href="{% url 'listar_proyectos' %}" class="btn btn-secondary">Volver al listado</a>
{% endblock %}