{% extends "base.html" %}
{% load static %}
{% block head %}
<title>PORTFOLIO</title>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/cssTarea.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Lista de Tareas</h1>
    <a href="{% url 'crear_tarea' %}" class="btn btn-primary">Nueva Tarea</a>
    <table class="table mt-3">
        <thead>
            <tr>
                <th>ID</th>
                <th>Tarea</th>
                <th>Fecha</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for tarea in tareas %}
            <tr>
                <td>{{ tarea.id }}</td>
                <td>{{ tarea.tarea }}</td>
                <td>{{ tarea.fecha }}</td>
                <td>{{ tarea.estado.estado }}</td>
                <td>
                    <a href="{% url 'editar_tarea' tarea.id %}" class="btn btn-warning">Editar</a>
                    <a href="{% url 'eliminar_tarea' tarea.id %}" class="btn btn-danger" onclick="return confirm('¿Estás seguro?');">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
