{% load static %}

<link rel="stylesheet" href="{% static 'css/cssNavbar.css' %}">

<nav class="navbar navbar-inverse navbar-fixed-top navbar-light" style="background-color: #F7F9F9 !important;">
    <div class="container-fluid">
        <div class="navbar-header">
		    {% if request.user.is_authenticated %}
			<a class="navbar-brand" href="/"
			   style="padding-top:0px;">
			<img src="{% static 'images/pythonLogo.png' %}"
			     height='48' width='48'>
			</a>
			{% endif %}
		</div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">

			    <!-- Bloque 1: Usuarios anónimos -->
			    {% if not request.user.is_authenticated %}
				    <li><a href="{% url 'home' %}"><font size="3" color="#0000FF">Inicio</font></a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Mi Perfil <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'sobremi' %}"><font size="3" color="#0000FF">Sobre Mi</font></a></li>
                            <li><a href="{% url 'habilidades' %}"><font size="3" color="#0000FF">Habilidades</font></a></li>
                            <li><a href="{% url 'categorias' %}"><font size="3" color="#0000FF">Categorías</font></a></li>
                            <li><a href="{% url 'generar_curriculum' %}"><font size="3" color="#0000FF">Curriculum</font></a></li>
                            <li><a href="{% url 'lista_noticias' %}"><font size="3" color="#0000FF">Listar noticias</font></a></li>
                        </ul>
                    </li>
				{% endif %}

				<!-- Bloque 2: Usuarios autenticados -->
				{% if request.user.is_authenticated %}
					<li><a href="{% url 'home' %}"><font size="2" color="#0000FF">Inicio</font></a></li>
					<li><a href="{% url 'experiencias' %}"><font size="2" color="#0000FF">Mis experiencias</font></a></li>
					<li><a href="{% url 'estudios' %}"><font size="2" color="#0000FF">Mis estudios</font></a></li>
					<li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Recursos <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'subir_imagenes' %}"><font size="2" color="#0000FF">Diplomas</font></a></li>
                            <li><a href="{% url 'subir_videos' %}"><font size="2" color="#0000FF">Vídeos</font></a></li>
                        </ul>
                    </li>
					{% if request.user.is_staff %}
						<li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Administración <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'entrevistadores' %}"><font size="2" color="#0000FF">Entrevistadores</font></a></li>
                                <li><a href="{% url 'listar_entrevistadores' %}"><font size="2" color="#0000FF">Informe entrevistas</font></a></li>
                                <li><a href="{% url 'contacto' %}"><font size="2" color="#0000FF">Enviar email</font></a></li>
                                <li><a href="{% url 'crear_noticia' %}"><font size="2" color="#0000FF">Crear noticia</font></a></li>
                                <li><a href="{% url 'lista_noticias' %}"><font size="2" color="#0000FF">Listar noticias</font></a></li>
                                <li><a href="{% url 'añadir_valoracion' %}"><font size="2" color="#0000FF">Valorar</font></a></li>
                                <li><a href="{% url 'listar_valoraciones' %}"><font size="2" color="#0000FF">Valoraciones</font></a></li>
                                <li><a href="{% url 'seleccionar_entrevistadores' %}"><font size="2" color="#0000FF">Chat</font></a></li>
                                <li><a href="{% url 'listar_tareas' %}"><font size="2" color="#0000FF">Tareas</font></a></li>
                                <li><a href="{% url 'listar_proyectos' %}"><font size="2" color="#0000FF">Proyectos</font></a></li>
                            </ul>
                        </li>
					{% endif %}
				{% endif %}
            </ul>

			<!-- Botones para Registro, Entrar y Cerrar Sesión -->
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                    <li>
                        <a href="{% url 'cerrar' %}" class="btn btn-danger" style="margin: 5px;">
                            <span class="glyphicon glyphicon-log-out"></span> Cerrar Sesión
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'register' %}" class="btn btn-success" style="margin: 5px;">
                            <span class="glyphicon glyphicon-user"></span> Registro
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'login' %}" class="btn btn-primary" style="margin: 5px;">
                            <span class="glyphicon glyphicon-log-in"></span> Entrar
                        </a>
                    </li>
                {% endif %}
            </ul>

        </div>
    </div>
</nav>
<br>